<%- include header %>
<div id="aboutbox" class="main">
  <div class="about">
    <div class="title">关于工大圈圈</div>
    <p>工大圈圈是一个校园活动发布平台</p>
    <p>旨在帮助大家发现校园中各种有趣的活动</p>
    <p>我们相信每一个活动都是一个圈圈</p>
    <p>可以圈住友谊、圈住美好的大学生活~</p>
    <div class="title">声明</div>
    <p>用户在使用本服务之前，请务必仔细阅读以下条款并同意本声明</p>
    <br/>
    <p>1.请用户恪守我国法律法规，不得利用工大圈圈从事违法行为，工大圈圈有权对违反国家法律法规的内容予以删除。</p>
    <p>2.工大圈圈仅为用户发布活动信息提供平台，用户发表的任何信息并不代表工大圈圈的立场和观点。用户需要对自己发表的内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任，工大圈圈不承担任何法律及连带责任。</p>
    <p>3.请勿发布任何广告或疑似广告等无关的信息，工大圈圈有权删除或修改这些不符合规定的信息。</p>
    <p>4.最终解释权归工大圈圈所有。</p>
  </div>
  <div class="zjuthelp">
    <img src="images/zjuthelp.jpg" width="250px"/>
    <p>工大助手同步更新活动信息~欢迎关注</p>
  </div>
</div>
<%- include footer %>