  <footer>
    <div class="container">
      <div class="copyright">© 2013-2014 <a target="_blank" href="http://www.izjut.com/">工大助手</a> All Rights Reserved</div>
      <ul>
        <li><a target="_blank" href="/about">关于</a></li>
        <li><a target="_blank" href="/suggest">建议</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>